body {
    width: 33%;
}

.result {
    background: lightgray;
    height: 48px;
    border: solid 1px black;
    font-size: 20px;
}

#btn0, #btn1 {
    background-color: lightgreen;
    color: brown;
}

#btnClr, #btnEql {
    background-color: darkgreen;
    color: white;
}

#btnSum, #btnSub, #btnMul, #btnDiv {
    background: black;
    color: red;
}

#btns button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0;
    float: left;
}

button:focus{
    outline-width: 0px;
}

.display-calculator{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.result, .operator{
    flex: 1 !important;
}